body{
    color:snow;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background: url(https://media1.tenor.com/images/0a404cf9580fd3dbc270e6f83895f16f/tenor.gif?itemid=18512123);
}